<div class="container">
        <div class="col">
            <ul class="nav nav-tabs">
                  <li>
                        <a routerLinkActive="active" routerLink="dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="home">Details</a>
                    </li>
                 <li>
                     <a routerLinkActive="active" routerLink="list">List</a>
                 </li>
                 <li>
                     <a routerLinkActive="active" routerLink="register">Register</a>
                 </li>
            </ul>
        </div>
          <router-outlet></router-outlet>
      </div>
