<div class="conatiner" >
   
    <div >
        <h3><i>WELCOME!! JOIN US TODAY!! FOR BRIGHT FUTURE OF YOUR WARDS</i></h3>
      </div>
    <div>
        <img src="assets/images/clg.jpg" width="100%" height="100%">
    </div>
    <div>
        <h4><em>Enrollment for various branches are open can register.. hurry before all admissions are closed</em> </h4>
        <h4><em>There are various labs and other research centers that will help in any research categories, we even provide many workshops that will guide students to perform well</em></h4>
        <h4><em>We even have many activities that will make students to show their talents. And many technical stuff are also being implemented</em></h4>
        <h4><em>for more details browse: vardhaman.org</em></h4>
    </div>
    </div>
