<div class="conatiner" >
   <div align="center">
        <h4 class="text-primary"><i>WELCOME!! BOOK YOUR TICKETS FOR EVENTS TODAY!!</i></h4>
      </div>
    </div>
    <div >
    <div>
        <img src="assets/images/events.png" width="100%" height="100%">
    </div>
    <div>
      <p></p>
        <h5> <em>You can register and login to our site to book for various events............</em> 
       <em>Special events are only accessed by the login users.....................</em>
        <em>Why waiting login and book for events.................</em></h5>
    </div>
    
